<div class='cart'>
    {% set lastOrder = orders[orders.length-1] %}
    <ul class='list-group'>
        {% if not lastOrder.address %} {% for item in items %}{% if item.orderId === lastOrder.id %}
        <div class='well'>
            <li class='list-group-item'>
                <h5 class='pull-left'>{{item.product.name}} <span class='badge'>{{item.quantity}}</span></h5>
                <form method='post' action='/orders/{{lastOrder.id}}/orders/{{item.id}}?_method=DELETE'>
                    <button class='btn btn-info'>Remove from Cart</button>
                </form>
            </li>
        </div>
        {% endif %}{% endfor %}

    </ul>

    {% if lastOrder.lineItems.length>0 %}
    <form method='post' action='/orders/{{lastOrder.id}}?_method=PUT'>
        <label for name='address'>Address</label>
        <input type='text' name='address' class='form-control'>
        </br>
        <button class='btn btn-info'>Submit</button>
    </form>
    {% endif %} {% endif %}

</div>