<!DOCTYPE html>
<html>

<head>
    <title>Acme Cart</title>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css'>
    <link rel='stylesheet' href='/public/stylesheets/stylesheet.css'>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>

<body class='container'>
    <div class='box'>
        <h1>Acme Cart</h1>
        <br/>
        <h3>Products</h3>
        <div class='row'>
            <div class='col-sm-8'>
                <ul class='list-group'>
                    {% for product in products %}
                    <li class='list-group-item'>
                        <h4>{{product.name}}</h4>
                        <form method='post' action='/orders/{{product.id}}'>
                            <button class='btn btn-primary add'>Add to cart</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class='col-sm-4'>
                {% if err %}
                <div class='err'>
                    <p class='text-center'>{{err}}</p>
                </div>
                </br>
                {% endif %} {% include 'cart.html' %} {% include 'orders.html' %}
            </div>
        </div>
    </div>
</body>

</html>