</br>
<div class ='orders'>
    
    {% if orders[0].address %}
        <p>Your orders</p>
    {% endif %}

    {% for order in orders %} {%if order.address %}
    <div>
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <p>{{order.id}}: {{order.address}}</p>
            </div>
            <div class='panel-content'>
                <ul>
                    {% for item in items %} {% if item.orderId === order.id %}
                    <li>{{item.product.name}} - {{item.quantity}}</li>
                    {%endif%}{%endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %} {% endfor %}
</div>