body{
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    background-color: rgb(252, 255, 242);
    color: #3B3738;
}

ul h4{
    float: left;
}

ul button{
    float: right;
}

li:after{
    display: block;
    content: "";
    clear:both;
}

.panel{
    padding: 5%;
}

.err{
    background-color: rgba(255,0,0,.4);
    padding: 2%;
}
