body{
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
}

ul h4{
    float: left;
}

ul button{
    float: right;
}

li:after{
    display: block;
    content: "";
    clear:both;
}

.panel{
    padding: 5%;
}

